<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Denunciantes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@1.7.2/dist/flowbite.css" rel="stylesheet">
</head>
<body class="bg-blue-50">

<nav class="bg-blue-900 p-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <a href="#" class="text-white text-2xl font-bold">Acción Ciudadana</a>
        <div class="space-x-4">
            <a th:href="@{/}" class="text-white">Inicio</a>
            <a th:href="@{/Nosotros}" class="text-white">Nosotros</a>
            <a th:href="@{/Denuncias}" class="text-white">Tipos Denuncia</a>
            <a th:href="@{/Reseñas}" class="text-white">Reseñas</a>
        </div>
    </div>
</nav>

<div class="max-w-7xl mx-auto bg-white p-6 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-4">Lista de Denunciantes</h2>
    <table class="min-w-full bg-white">
        <thead>
        <tr>
            <th class="py-2 px-4 border-b">ID</th>
            <th class="py-2 px-4 border-b">Nombre</th>
            <th class="py-2 px-4 border-b">Correo Electrónico</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="denunciante : ${denunciantes}">
            <td class="py-2 px-4 " th:text="${denunciante.id}">ID</td>
            <td class="py-2 px-4 " th:text="${denunciante.nombre}">Nombre del denunciante</td>
            <td class="py-2 px-4 " th:text="${denunciante.correo}">Correo del denunciante</td>
            <td>
                <a th:href="@{/eliminarDenunciante/} + ${denunciante.id}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(denunciantes)}" class="mt-4">
        <p>No hay denunciantes registrados.</p>
    </div>
</div>

<!-- Botones de navegación -->
<div class="max-w-7xl mx-auto mt-6 flex justify-center space-x-4">
    <a th:href="@{/formDenunciante}" class="bg-green-500 text-white font-bold py-2 px-4 rounded-md hover:bg-green-600">Nuevo
        Denunciante</a>
    <a th:href="@{/denuncias}"
       class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600">Denuncias</a>
    <a th:href="@{/autoridades}" class="bg-green-500 text-white font-bold py-2 px-4 rounded-md hover:bg-green-600">Autoridades</a>
</div>

</body>
</html>